// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SecsuiteApi from "../../../index.js";

export declare namespace HistoryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HistoryClient {
    protected readonly _options: NormalizedClientOptions<HistoryClient.Options>;

    constructor(options: HistoryClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {SecsuiteApi.GetApiV1HistoryRequest} request
     * @param {HistoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.history.getCurrentUsersAnalysisHistory({
     *         page: 1,
     *         pageSize: 20,
     *         cacheHit: true
     *     })
     */
    public getCurrentUsersAnalysisHistory(
        request: SecsuiteApi.GetApiV1HistoryRequest = {},
        requestOptions?: HistoryClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.HistoryListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCurrentUsersAnalysisHistory(request, requestOptions));
    }

    private async __getCurrentUsersAnalysisHistory(
        request: SecsuiteApi.GetApiV1HistoryRequest = {},
        requestOptions?: HistoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.HistoryListResponse>> {
        const { page, pageSize, inputType, sourceService, cacheHit, sortBy, sortOrder } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            pageSize,
            inputType: inputType != null ? inputType : undefined,
            sourceService: sourceService != null ? sourceService : undefined,
            cacheHit,
            sortBy: sortBy != null ? sortBy : undefined,
            sortOrder: sortOrder != null ? sortOrder : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/history",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.HistoryListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SecsuiteApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/history");
    }

    /**
     * @param {SecsuiteApi.GetApiV1HistoryIdRequest} request
     * @param {HistoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.NotFoundError}
     *
     * @example
     *     await client.history.getOneAnalysisHistoryRecord({
     *         id: "c2b5ef2b-7c89-4c70-af12-5c5c216f2a2d"
     *     })
     */
    public getOneAnalysisHistoryRecord(
        request: SecsuiteApi.GetApiV1HistoryIdRequest,
        requestOptions?: HistoryClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.HistoryDetailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getOneAnalysisHistoryRecord(request, requestOptions));
    }

    private async __getOneAnalysisHistoryRecord(
        request: SecsuiteApi.GetApiV1HistoryIdRequest,
        requestOptions?: HistoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.HistoryDetailResponse>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/history/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.HistoryDetailResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SecsuiteApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/history/{id}");
    }

    /**
     * @param {SecsuiteApi.DeleteApiV1HistoryIdRequest} request
     * @param {HistoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.NotFoundError}
     *
     * @example
     *     await client.history.deleteOneAnalysisHistoryRecord({
     *         id: "c2b5ef2b-7c89-4c70-af12-5c5c216f2a2d"
     *     })
     */
    public deleteOneAnalysisHistoryRecord(
        request: SecsuiteApi.DeleteApiV1HistoryIdRequest,
        requestOptions?: HistoryClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.DeleteHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteOneAnalysisHistoryRecord(request, requestOptions));
    }

    private async __deleteOneAnalysisHistoryRecord(
        request: SecsuiteApi.DeleteApiV1HistoryIdRequest,
        requestOptions?: HistoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.DeleteHistoryResponse>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/history/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.DeleteHistoryResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SecsuiteApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/v1/history/{id}");
    }

    /**
     * @param {SecsuiteApi.BulkDeleteHistoryRequest} request
     * @param {HistoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.BadRequestError}
     *
     * @example
     *     await client.history.deleteMultipleAnalysisHistoryRecords({
     *         ids: ["ids"]
     *     })
     */
    public deleteMultipleAnalysisHistoryRecords(
        request: SecsuiteApi.BulkDeleteHistoryRequest,
        requestOptions?: HistoryClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.BulkDeleteHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__deleteMultipleAnalysisHistoryRecords(request, requestOptions),
        );
    }

    private async __deleteMultipleAnalysisHistoryRecords(
        request: SecsuiteApi.BulkDeleteHistoryRequest,
        requestOptions?: HistoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.BulkDeleteHistoryResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/history/bulk-delete",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.BulkDeleteHistoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SecsuiteApi.BadRequestError(
                        _response.error.body as SecsuiteApi.HistoryBadRequestResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/history/bulk-delete");
    }

    /**
     * @param {SecsuiteApi.MigrateGuestHistoryRequest} request
     * @param {HistoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.BadRequestError}
     *
     * @example
     *     await client.history.migrateGuestAnalysisHistoryToCurrentUser({
     *         guestSessionToken: "sess_abc123"
     *     })
     */
    public migrateGuestAnalysisHistoryToCurrentUser(
        request: SecsuiteApi.MigrateGuestHistoryRequest,
        requestOptions?: HistoryClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.MigrateGuestHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__migrateGuestAnalysisHistoryToCurrentUser(request, requestOptions),
        );
    }

    private async __migrateGuestAnalysisHistoryToCurrentUser(
        request: SecsuiteApi.MigrateGuestHistoryRequest,
        requestOptions?: HistoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.MigrateGuestHistoryResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/history/migrate-guest",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.MigrateGuestHistoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SecsuiteApi.BadRequestError(
                        _response.error.body as SecsuiteApi.HistoryBadRequestResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/history/migrate-guest",
        );
    }
}
