// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SecsuiteApi from "../../../index.js";

export declare namespace DesktopAuthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DesktopAuthClient {
    protected readonly _options: NormalizedClientOptions<DesktopAuthClient.Options>;

    constructor(options: DesktopAuthClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Exchanges a one-time authorization code for a session cookie. No authentication required.
     *
     * @param {SecsuiteApi.ExchangeDesktopCodeRequest} request
     * @param {DesktopAuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnauthorizedError}
     *
     * @example
     *     await client.desktopAuth.exchangeAOneTimeCodeForADesktopSession({
     *         code: "a1b2c3d4e5f6..."
     *     })
     */
    public exchangeAOneTimeCodeForADesktopSession(
        request: SecsuiteApi.ExchangeDesktopCodeRequest,
        requestOptions?: DesktopAuthClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.ExchangeDesktopCodeResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__exchangeAOneTimeCodeForADesktopSession(request, requestOptions),
        );
    }

    private async __exchangeAOneTimeCodeForADesktopSession(
        request: SecsuiteApi.ExchangeDesktopCodeRequest,
        requestOptions?: DesktopAuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.ExchangeDesktopCodeResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "public/desktop-auth/exchange",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.ExchangeDesktopCodeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SecsuiteApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/public/desktop-auth/exchange",
        );
    }

    /**
     * Validates the desktop bearer token and returns session and user data.
     *
     * @param {DesktopAuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnauthorizedError}
     *
     * @example
     *     await client.desktopAuth.getDesktopSessionFromBearerToken()
     */
    public getDesktopSessionFromBearerToken(
        requestOptions?: DesktopAuthClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.DesktopSessionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDesktopSessionFromBearerToken(requestOptions));
    }

    private async __getDesktopSessionFromBearerToken(
        requestOptions?: DesktopAuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.DesktopSessionResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "public/desktop-auth/session",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.DesktopSessionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SecsuiteApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/public/desktop-auth/session");
    }

    /**
     * Generates a short-lived, one-time authorization code for the desktop app. Requires authenticated session.
     *
     * @param {SecsuiteApi.CreateDesktopCodeRequest} request
     * @param {DesktopAuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.desktopAuth.createAOneTimeDesktopAuthorizationCode()
     */
    public createAOneTimeDesktopAuthorizationCode(
        request: SecsuiteApi.CreateDesktopCodeRequest = {},
        requestOptions?: DesktopAuthClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.CreateDesktopCodeResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__createAOneTimeDesktopAuthorizationCode(request, requestOptions),
        );
    }

    private async __createAOneTimeDesktopAuthorizationCode(
        request: SecsuiteApi.CreateDesktopCodeRequest = {},
        requestOptions?: DesktopAuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.CreateDesktopCodeResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/desktop-auth/create-code",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.CreateDesktopCodeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SecsuiteApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/desktop-auth/create-code",
        );
    }
}
