// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SecsuiteApi from "../../../index.js";

export declare namespace SettingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SettingsClient {
    protected readonly _options: NormalizedClientOptions<SettingsClient.Options>;

    constructor(options: SettingsClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {SettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.settings.getCurrentUserProfileAndDashboardPreferences()
     */
    public getCurrentUserProfileAndDashboardPreferences(
        requestOptions?: SettingsClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.ProfilePreferencesResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__getCurrentUserProfileAndDashboardPreferences(requestOptions),
        );
    }

    private async __getCurrentUserProfileAndDashboardPreferences(
        requestOptions?: SettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.ProfilePreferencesResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/settings/profile-preferences",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.ProfilePreferencesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SecsuiteApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/settings/profile-preferences",
        );
    }

    /**
     * @param {SecsuiteApi.UpdateProfilePreferencesRequest} request
     * @param {SettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     *
     * @example
     *     await client.settings.updateCurrentUserProfileAndDashboardPreferences()
     */
    public updateCurrentUserProfileAndDashboardPreferences(
        request: SecsuiteApi.UpdateProfilePreferencesRequest = {},
        requestOptions?: SettingsClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.ProfilePreferencesResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__updateCurrentUserProfileAndDashboardPreferences(request, requestOptions),
        );
    }

    private async __updateCurrentUserProfileAndDashboardPreferences(
        request: SecsuiteApi.UpdateProfilePreferencesRequest = {},
        requestOptions?: SettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.ProfilePreferencesResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/settings/profile-preferences",
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.ProfilePreferencesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/api/v1/settings/profile-preferences",
        );
    }

    /**
     * @param {SettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.settings.listCurrentUsersApiKeysWithUsageFields()
     */
    public listCurrentUsersApiKeysWithUsageFields(
        requestOptions?: SettingsClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.ApiKeyListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCurrentUsersApiKeysWithUsageFields(requestOptions));
    }

    private async __listCurrentUsersApiKeysWithUsageFields(
        requestOptions?: SettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.ApiKeyListResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/settings/api-keys",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.ApiKeyListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SecsuiteApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/settings/api-keys");
    }

    /**
     * @param {SecsuiteApi.ApiKeyCreateRequest} request
     * @param {SettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     *
     * @example
     *     await client.settings.createANewApiKeyForCurrentUser()
     */
    public createANewApiKeyForCurrentUser(
        request: SecsuiteApi.ApiKeyCreateRequest = {},
        requestOptions?: SettingsClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.ApiKeyCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createANewApiKeyForCurrentUser(request, requestOptions));
    }

    private async __createANewApiKeyForCurrentUser(
        request: SecsuiteApi.ApiKeyCreateRequest = {},
        requestOptions?: SettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.ApiKeyCreateResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/settings/api-keys",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.ApiKeyCreateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/settings/api-keys");
    }

    /**
     * @param {SettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.settings.getApiKeyUsageSummaryForCurrentUser()
     */
    public getApiKeyUsageSummaryForCurrentUser(
        requestOptions?: SettingsClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.ApiKeyUsageSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getApiKeyUsageSummaryForCurrentUser(requestOptions));
    }

    private async __getApiKeyUsageSummaryForCurrentUser(
        requestOptions?: SettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.ApiKeyUsageSummaryResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/settings/api-keys/usage",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.ApiKeyUsageSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SecsuiteApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/settings/api-keys/usage",
        );
    }

    /**
     * @param {SecsuiteApi.PostApiV1SettingsApiKeysIdDisableRequest} request
     * @param {SettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     *
     * @example
     *     await client.settings.disableAnApiKey({
     *         id: "id"
     *     })
     */
    public disableAnApiKey(
        request: SecsuiteApi.PostApiV1SettingsApiKeysIdDisableRequest,
        requestOptions?: SettingsClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.ApiKeyActionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__disableAnApiKey(request, requestOptions));
    }

    private async __disableAnApiKey(
        request: SecsuiteApi.PostApiV1SettingsApiKeysIdDisableRequest,
        requestOptions?: SettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.ApiKeyActionResponse>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/settings/api-keys/${core.url.encodePathParam(id)}/disable`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.ApiKeyActionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/settings/api-keys/{id}/disable",
        );
    }

    /**
     * @param {SecsuiteApi.PostApiV1SettingsApiKeysIdEnableRequest} request
     * @param {SettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     *
     * @example
     *     await client.settings.enableAnApiKey({
     *         id: "id"
     *     })
     */
    public enableAnApiKey(
        request: SecsuiteApi.PostApiV1SettingsApiKeysIdEnableRequest,
        requestOptions?: SettingsClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.ApiKeyActionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__enableAnApiKey(request, requestOptions));
    }

    private async __enableAnApiKey(
        request: SecsuiteApi.PostApiV1SettingsApiKeysIdEnableRequest,
        requestOptions?: SettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.ApiKeyActionResponse>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/settings/api-keys/${core.url.encodePathParam(id)}/enable`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.ApiKeyActionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/settings/api-keys/{id}/enable",
        );
    }

    /**
     * @param {SecsuiteApi.DeleteApiV1SettingsApiKeysIdRequest} request
     * @param {SettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     *
     * @example
     *     await client.settings.deleteAnApiKey({
     *         id: "id"
     *     })
     */
    public deleteAnApiKey(
        request: SecsuiteApi.DeleteApiV1SettingsApiKeysIdRequest,
        requestOptions?: SettingsClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.ApiKeyActionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteAnApiKey(request, requestOptions));
    }

    private async __deleteAnApiKey(
        request: SecsuiteApi.DeleteApiV1SettingsApiKeysIdRequest,
        requestOptions?: SettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.ApiKeyActionResponse>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/settings/api-keys/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.ApiKeyActionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/settings/api-keys/{id}",
        );
    }
}
