// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SecsuiteApi from "../../../index.js";

export declare namespace ScannerClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ScannerClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ScannerClient.Options>;

    constructor(options: ScannerClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {SecsuiteApi.PhishingEmailRequest} request
     * @param {ScannerClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     *
     * @example
     *     await client.scanner.scanEmailApiV1ScanEmailPost({
     *         text: "Your account will be suspended. Click here to verify."
     *     })
     */
    public scanEmailApiV1ScanEmailPost(
        request: SecsuiteApi.PhishingEmailRequest,
        requestOptions?: ScannerClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.PhishingEmailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__scanEmailApiV1ScanEmailPost(request, requestOptions));
    }

    private async __scanEmailApiV1ScanEmailPost(
        request: SecsuiteApi.PhishingEmailRequest,
        requestOptions?: ScannerClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.PhishingEmailResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SecsuiteApiEnvironment.Default,
                "phishing/api/v1/scan-email",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.PhishingEmailResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/phishing/api/v1/scan-email");
    }
}
