// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SecsuiteApi from "../../../index.js";

export declare namespace PredictionClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PredictionClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PredictionClient.Options>;

    constructor(options: PredictionClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Predict bot probabilities for the sampled neighborhood of one Twitter ID.
     *
     * @param {SecsuiteApi.PredictSubgraphPredictTwitterIdGetRequest} request
     * @param {PredictionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     *
     * @example
     *     await client.prediction.predictSubgraphPredictTwitterIdGet({
     *         twitter_id: "twitter_id"
     *     })
     */
    public predictSubgraphPredictTwitterIdGet(
        request: SecsuiteApi.PredictSubgraphPredictTwitterIdGetRequest,
        requestOptions?: PredictionClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.BotDetectionSubgraphResponse> {
        return core.HttpResponsePromise.fromPromise(this.__predictSubgraphPredictTwitterIdGet(request, requestOptions));
    }

    private async __predictSubgraphPredictTwitterIdGet(
        request: SecsuiteApi.PredictSubgraphPredictTwitterIdGetRequest,
        requestOptions?: PredictionClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.BotDetectionSubgraphResponse>> {
        const { twitter_id: twitterId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SecsuiteApiEnvironment.Default,
                `bot-detection/predict/${core.url.encodePathParam(twitterId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.BotDetectionSubgraphResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/bot-detection/predict/{twitter_id}",
        );
    }
}
