// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as SecsuiteApi from "../../../index.js";

export declare namespace SystemClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SystemClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SystemClient.Options>;

    constructor(options: SystemClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Liveness/readiness endpoint.
     *
     * @param {SystemClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.system.healthHealthGet()
     */
    public healthHealthGet(
        requestOptions?: SystemClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.BotDetectionHealthResponse> {
        return core.HttpResponsePromise.fromPromise(this.__healthHealthGet(requestOptions));
    }

    private async __healthHealthGet(
        requestOptions?: SystemClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.BotDetectionHealthResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SecsuiteApiEnvironment.Default,
                "bot-detection/health",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.BotDetectionHealthResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SecsuiteApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/bot-detection/health");
    }
}
