// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SecsuiteApi from "../../../index.js";

export declare namespace UpdaterClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UpdaterClient {
    protected readonly _options: NormalizedClientOptions<UpdaterClient.Options>;

    constructor(options: UpdaterClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {UpdaterClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.NotFoundError}
     * @throws {@link SecsuiteApi.InternalServerError}
     *
     * @example
     *     await client.updater.getLatestReleaseInfoForTauriAutoUpdater()
     */
    public getLatestReleaseInfoForTauriAutoUpdater(
        requestOptions?: UpdaterClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.LatestJson> {
        return core.HttpResponsePromise.fromPromise(this.__getLatestReleaseInfoForTauriAutoUpdater(requestOptions));
    }

    private async __getLatestReleaseInfoForTauriAutoUpdater(
        requestOptions?: UpdaterClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.LatestJson>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "public/updater/latest.json",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.LatestJson, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SecsuiteApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new SecsuiteApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/public/updater/latest.json");
    }

    /**
     * @param {SecsuiteApi.GetPublicUpdaterDownloadTagFilenameRequest} request
     * @param {UpdaterClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.NotFoundError}
     * @throws {@link SecsuiteApi.InternalServerError}
     *
     * @example
     *     await client.updater.downloadASpecificReleaseAssetByTagAndFilename({
     *         tag: "v0.1.0",
     *         filename: "SecSuite_0.1.0_aarch64.dmg"
     *     })
     */
    public downloadASpecificReleaseAssetByTagAndFilename(
        request: SecsuiteApi.GetPublicUpdaterDownloadTagFilenameRequest,
        requestOptions?: UpdaterClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(
            this.__downloadASpecificReleaseAssetByTagAndFilename(request, requestOptions),
        );
    }

    private async __downloadASpecificReleaseAssetByTagAndFilename(
        request: SecsuiteApi.GetPublicUpdaterDownloadTagFilenameRequest,
        requestOptions?: UpdaterClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { tag, filename } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `public/updater/download/${core.url.encodePathParam(tag)}/${core.url.encodePathParam(filename)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SecsuiteApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new SecsuiteApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/public/updater/download/{tag}/{filename}",
        );
    }
}
