// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SecsuiteApi from "../../../index.js";

export declare namespace ScanClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ScanClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ScanClient.Options>;

    constructor(options: ScanClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Runs the full analysis pipeline: Google Safe Browsing, VirusTotal, reputation checking (WHOIS, DNS, Tranco, Shodan), SSL validation, screenshot capture, conditional file download & ML-based threat detection.
     *
     * @param {SecsuiteApi.ScanningScanRequest} request
     * @param {ScanClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     *
     * @example
     *     await client.scan.urlScanPost({
     *         url: "url"
     *     })
     */
    public urlScanPost(
        request: SecsuiteApi.ScanningScanRequest,
        requestOptions?: ScanClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.ScanningScanResponse> {
        return core.HttpResponsePromise.fromPromise(this.__urlScanPost(request, requestOptions));
    }

    private async __urlScanPost(
        request: SecsuiteApi.ScanningScanRequest,
        requestOptions?: ScanClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.ScanningScanResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SecsuiteApiEnvironment.Default,
                "scanning/scan",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.ScanningScanResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/scanning/scan");
    }
}
