// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SecsuiteApi from "../../../index.js";

export declare namespace GatewayClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class GatewayClient {
    protected readonly _options: NormalizedClientOptions<GatewayClient.Options>;

    constructor(options: GatewayClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {SecsuiteApi.ScanGatewayRequest} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     * @throws {@link SecsuiteApi.BadGatewayError}
     *
     * @example
     *     await client.gateway.scanUrlViaInternalMlGateway({
     *         url: "https://example.com/login"
     *     })
     */
    public scanUrlViaInternalMlGateway(
        request: SecsuiteApi.ScanGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.GatewaySuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__scanUrlViaInternalMlGateway(request, requestOptions));
    }

    private async __scanUrlViaInternalMlGateway(
        request: SecsuiteApi.ScanGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.GatewaySuccessResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/scan",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SecsuiteApi.GatewaySuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 502:
                    throw new SecsuiteApi.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/scan");
    }

    /**
     * @param {SecsuiteApi.AnalysisGatewayRequest} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     * @throws {@link SecsuiteApi.BadGatewayError}
     *
     * @example
     *     await client.gateway.analyzeArticleNewsTextViaInternalMlGateway({
     *         text: "https://edition.cnn.com/2026/04/19/asia/north-korea-defector-intl-hnk-dst"
     *     })
     */
    public analyzeArticleNewsTextViaInternalMlGateway(
        request: SecsuiteApi.AnalysisGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.AnalysisGatewaySuccessResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__analyzeArticleNewsTextViaInternalMlGateway(request, requestOptions),
        );
    }

    private async __analyzeArticleNewsTextViaInternalMlGateway(
        request: SecsuiteApi.AnalysisGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.AnalysisGatewaySuccessResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/analysis",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.AnalysisGatewaySuccessResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 502:
                    throw new SecsuiteApi.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/analysis");
    }

    /**
     * @param {SecsuiteApi.PhishingGatewayRequest} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     * @throws {@link SecsuiteApi.BadGatewayError}
     *
     * @example
     *     await client.gateway.analyzeEmailTextViaPhishingMicroservice({
     *         text: "Your account is suspended. Click this link now."
     *     })
     */
    public analyzeEmailTextViaPhishingMicroservice(
        request: SecsuiteApi.PhishingGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.PhishingGatewaySuccessResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__analyzeEmailTextViaPhishingMicroservice(request, requestOptions),
        );
    }

    private async __analyzeEmailTextViaPhishingMicroservice(
        request: SecsuiteApi.PhishingGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.PhishingGatewaySuccessResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/phishing",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.PhishingGatewaySuccessResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 502:
                    throw new SecsuiteApi.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/phishing");
    }

    /**
     * @param {SecsuiteApi.BotDetectionGatewayRequest} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.UnprocessableEntityError}
     * @throws {@link SecsuiteApi.BadGatewayError}
     *
     * @example
     *     await client.gateway.analyzeTwitterAccountViaBotDetectionMicroservice({
     *         twitterId: "1234567890"
     *     })
     */
    public analyzeTwitterAccountViaBotDetectionMicroservice(
        request: SecsuiteApi.BotDetectionGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.BotDetectionGatewaySuccessResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__analyzeTwitterAccountViaBotDetectionMicroservice(request, requestOptions),
        );
    }

    private async __analyzeTwitterAccountViaBotDetectionMicroservice(
        request: SecsuiteApi.BotDetectionGatewayRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.BotDetectionGatewaySuccessResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/bot-detection",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.BotDetectionGatewaySuccessResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new SecsuiteApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 502:
                    throw new SecsuiteApi.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/bot-detection");
    }
}
