// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SecsuiteApi from "../../../index.js";

export declare namespace DocumentationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DocumentationClient {
    protected readonly _options: NormalizedClientOptions<DocumentationClient.Options>;

    constructor(options: DocumentationClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns the navigation structure for documentation
     *
     * @param {SecsuiteApi.GetPublicDocsTreeRequest} request
     * @param {DocumentationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.InternalServerError}
     *
     * @example
     *     await client.documentation.getDocumentationPageTree()
     */
    public getDocumentationPageTree(
        request: SecsuiteApi.GetPublicDocsTreeRequest = {},
        requestOptions?: DocumentationClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.GetPublicDocsTreeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDocumentationPageTree(request, requestOptions));
    }

    private async __getDocumentationPageTree(
        request: SecsuiteApi.GetPublicDocsTreeRequest = {},
        requestOptions?: DocumentationClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.GetPublicDocsTreeResponse>> {
        const { ref } = request;
        const _queryParams: Record<string, unknown> = {
            ref,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "public/docs/tree",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.GetPublicDocsTreeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new SecsuiteApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/public/docs/tree");
    }

    /**
     * Returns the content and metadata for a documentation page
     *
     * @param {SecsuiteApi.GetPublicDocsPageSlugRequest} request
     * @param {DocumentationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.NotFoundError}
     * @throws {@link SecsuiteApi.InternalServerError}
     *
     * @example
     *     await client.documentation.getADocumentationPage({
     *         slug: "slug"
     *     })
     */
    public getADocumentationPage(
        request: SecsuiteApi.GetPublicDocsPageSlugRequest,
        requestOptions?: DocumentationClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.GetPublicDocsPageSlugResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getADocumentationPage(request, requestOptions));
    }

    private async __getADocumentationPage(
        request: SecsuiteApi.GetPublicDocsPageSlugRequest,
        requestOptions?: DocumentationClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.GetPublicDocsPageSlugResponse>> {
        const { slug, ref } = request;
        const _queryParams: Record<string, unknown> = {
            ref,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `public/docs/page/${core.url.encodePathParam(slug)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.GetPublicDocsPageSlugResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SecsuiteApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new SecsuiteApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/public/docs/page/{slug}");
    }

    /**
     * Search through documentation content using the pre-built index
     *
     * @param {SecsuiteApi.GetPublicDocsSearchRequest} request
     * @param {DocumentationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentation.searchDocumentation({
     *         q: "q"
     *     })
     */
    public searchDocumentation(
        request: SecsuiteApi.GetPublicDocsSearchRequest,
        requestOptions?: DocumentationClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.GetPublicDocsSearchResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__searchDocumentation(request, requestOptions));
    }

    private async __searchDocumentation(
        request: SecsuiteApi.GetPublicDocsSearchRequest,
        requestOptions?: DocumentationClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.GetPublicDocsSearchResponseItem[]>> {
        const { q, limit, ref } = request;
        const _queryParams: Record<string, unknown> = {
            q,
            limit,
            ref,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "public/docs/search",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.GetPublicDocsSearchResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SecsuiteApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/public/docs/search");
    }

    /**
     * Returns the pre-built Orama search index for client-side searching
     *
     * @param {SecsuiteApi.GetPublicDocsSearchIndexRequest} request
     * @param {DocumentationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.NotFoundError}
     *
     * @example
     *     await client.documentation.getSearchIndex()
     */
    public getSearchIndex(
        request: SecsuiteApi.GetPublicDocsSearchIndexRequest = {},
        requestOptions?: DocumentationClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.GetPublicDocsSearchIndexResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSearchIndex(request, requestOptions));
    }

    private async __getSearchIndex(
        request: SecsuiteApi.GetPublicDocsSearchIndexRequest = {},
        requestOptions?: DocumentationClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.GetPublicDocsSearchIndexResponse>> {
        const { ref } = request;
        const _queryParams: Record<string, unknown> = {
            ref,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "public/docs/search-index",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.GetPublicDocsSearchIndexResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SecsuiteApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/public/docs/search-index");
    }

    /**
     * Serves binary assets (images, PDFs, etc.) from the docs repo
     *
     * @param {SecsuiteApi.GetPublicDocsAssetsPathRequest} request
     * @param {DocumentationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SecsuiteApi.NotFoundError}
     *
     * @example
     *     await client.documentation.getDocumentationAsset({
     *         path: "path"
     *     })
     */
    public getDocumentationAsset(
        request: SecsuiteApi.GetPublicDocsAssetsPathRequest,
        requestOptions?: DocumentationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown | null> {
        return core.HttpResponsePromise.fromPromise(this.__getDocumentationAsset(request, requestOptions));
    }

    private async __getDocumentationAsset(
        request: SecsuiteApi.GetPublicDocsAssetsPathRequest,
        requestOptions?: DocumentationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown | null>> {
        const { path, ref } = request;
        const _queryParams: Record<string, unknown> = {
            ref,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `public/docs/assets/${core.url.encodePathParam(path)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as unknown | null, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new SecsuiteApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SecsuiteApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/public/docs/assets/{path}");
    }

    /**
     * Called by GitHub when docs are updated. Invalidates cache and rebuilds search index.
     *
     * @param {SecsuiteApi.PostPublicDocsWebhookRequest} request
     * @param {DocumentationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentation.gitHubWebhookForCacheInvalidation()
     */
    public gitHubWebhookForCacheInvalidation(
        request: SecsuiteApi.PostPublicDocsWebhookRequest = {},
        requestOptions?: DocumentationClient.RequestOptions,
    ): core.HttpResponsePromise<SecsuiteApi.PostPublicDocsWebhookResponse> {
        return core.HttpResponsePromise.fromPromise(this.__gitHubWebhookForCacheInvalidation(request, requestOptions));
    }

    private async __gitHubWebhookForCacheInvalidation(
        request: SecsuiteApi.PostPublicDocsWebhookRequest = {},
        requestOptions?: DocumentationClient.RequestOptions,
    ): Promise<core.WithRawResponse<SecsuiteApi.PostPublicDocsWebhookResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "public/docs/webhook",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SecsuiteApi.PostPublicDocsWebhookResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SecsuiteApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/public/docs/webhook");
    }
}
